* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('./images/love.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  width: 250px;
  height: 250px;
  background-color: rgb(255, 204, 0);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.centered-image {
  position: absolute;
  bottom: 30%;
  left: 48%;
  width: 30rem;
  height: 30rem;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.centered-image1 {
  position: absolute;
  bottom: 68%;
  left: 70%;
  width: 8rem;
  height: 8rem;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute; /* Change this to 'absolute' */
  top: 25rem;
  right: 18rem;
  z-index: 2; /* Set a higher z-index for the container */
}

.rectangle {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2; /* Set a higher z-index for the rectangle */
}


.loading-bar {
  width: 59%;
  height: 16px;
  background-color: lightgray;
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 16px;
  margin: 5px auto;
}

.loading-bar1 {
  background-color: lightgray;
}

loading-bar2 {
  background-color: lightgray;
}

loading-bar3 {
  background-color: lightgray;
  width: 40%;
  height: 16px;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 2%;
  overflow: hidden;
}

img {
  height: 60px;
  width: 60px;
}
