body {
    overflow: hidden;
  }
  
  .container2 {
    position: relative;
    margin-top: 6rem;
    display: flex;
    justify-content: flex-end;
  }
  
  h4 {
    margin-left: 3px;
  }
  
  img {
    width: 300px;
    height: auto;
  }
  
  .img1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: baseline;
  }
  
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: baseline;
  }
  
  .img2,
  .img3,
  .img4,
  .img5 {
    position: relative;
    right: 6px;
  }
  
  .img6 {
    width: 37px;
    height: 37px;
    position: relative;
    right: 12px;
  }
  
  .rectangle {
    position: absolute;
    width: 200px;
    height: 80px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    right: 14rem;
    bottom: 1rem;
  }
  
  .img8 {
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16.5rem; /* Adjust as needed */
    right: 14rem; /* Should be the same as rectangle's right property */
    z-index: 9999;
  }
  
  .small-circle {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
   position: absolute;
   top: 20%;
   margin-left: 2rem;
  }
  .custom-button {
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 1rem;
    border: none;
    border-radius: 8rem; /* Adjust the border radius as needed */
    cursor: pointer;
  }
  
  .wrapper h1{
    font-size: 4rem;
    font-family: Anton;
  }
  .wrapper h1 h3{
    font-size: 1rem;
    font-weight: 400;
  }
  .download{
    display: flex;
    justify-content: flex-end;
  }
  .box1{
    height: 60px;
    width: 240px;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 1rem;
    display: flex;
  }
  h5{
    margin-top: 8px;
    margin-left: 17px;
  }
  .store-apple{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  }
  .apple{
    width: 35px;
    height: 30px;
    margin-top: 10px;
    margin-left: 9px;
  }
  
  .dark .apple {
    filter: brightness(0) invert(1); /* Set the filter to invert and adjust brightness */
  }
  .dark h5 {
    color: white; /* Set the color to white in dark mode */
  }
  .dark h1{
    color: white;
  }
  .dark button{
     background-color: white;
     color: black;
  }
  .box2{
    height: 60px;
    width: 240px;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 1rem;
    display: flex;
  }
  @media only screen and (max-width: 790px) {
    .container2 {
      display: flex;
      justify-content: flex-end;
    }
  .i{
    width: 200px;
  }
    img {
      width: 240px;
      height: auto;
    }
  
    .rectangle {
      right: 10rem;
      bottom: 1rem;
    }
  
    .img8 {
      display: none;
    }
  
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 13rem;
      margin-left: 2rem;
    }
  
    .wrapper h1 {
      font-size: 3rem;
      margin: 0;
    }
    .custom-button {
      margin-top: 1rem; /* Adjust margin as needed */
    }
  
    .download {
      display: flex;
      flex-direction: row; /* Change back to column */
      align-items: flex-start;
      margin-top: 22rem;
      margin-left: 2rem; /* Adjust margin as needed */
    }
    .box1 {
      height: 60px;
      width: 261px;
      border: 2px solid black;
      border-radius: 1rem;
      margin-right: 1rem;
      display: flex;
  }
    
    .box1,
    .box2 {
      margin-right: 1rem;
    }
  
    .store-apple {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bolder;
    }
    
    .apple {
      width: 30px;
      height: 25px;
      margin-top: 10px;
      margin-left: 9px;
    }
  }
  